# Исключения
vSerf.exe
.vscode/
WebServer/cert/*
!WebServer/cert/no_cert/
WebServer/tools/logs/*
WebServer/soft/*
!WebServer/soft/soft.rar
.cursorrules
windows/
bin/
Backend/admin/frontend/wailsjs/
vServer_Admin_Panel-res.syso